In [4]:
import pandas as pd 
import numpy as np


df_file = pd.read_csv("C:/Users/MSI/Desktop/CODE/FoodBalanceSheets_E_Africa_NOFLAG.csv" ,encoding = "8859")

In [5]:
# df_file.groupby('Element')["Y2014","Y2015","Y2016","Y2017","Y2018"].sum()


pac = df_file.groupby("Element")[["Y2014","Y2015","Y2016","Y2017","Y2018"]].sum()

In [45]:
# Question_11: What is the total sum of Aminal Fat produced in 2014 and 2017 respectively?

a = df_file.groupby("Item")[["Y2014","Y2017"]].sum() #209460.54 & 269617.53 respectively 
a.iloc[3]

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [18]:
#  Question_12 What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

a = str(df_file["Y2015"].mean())
print("Mean = " +a )

#Mean = 135.236

b = str(df_file["Y2015"].std()) #Standard deviation = 1603.404

print("Standard deviation = " +b )

Mean = 135.23596649549236
Standard deviation = 1603.4039839423301

In [21]:
# Question_13 What is the total number and percentage of missing data in 2016 to 2 decimal places?

a = (df_file["Y2016"].isna().sum()) #1535

b = len(df_file['Y2016'])

c = round ((a/b * 100) ,2)   #2.52

print ("Total number of missing data = {}".format (a))
print ("Percentage of missing data = {}%".format (c))

Total number of missing data = 1535
Percentage of missing data = 2.52%

In [86]:

# Question_14: Which year had the highest correlation with 'Element Code'?

corr_matrix = df_file.select_dtypes(exclude=[object])

corr_matrix.corr() #Evaluating and looking at the output, the year with the highest correlation with 'Element Code' is 2014

# Answer = Y2014

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [24]:
# Question_15: What year has the highest sum of Import Quantity?

pm = df_file.groupby("Element")[["Y2014","Y2015","Y2016","Y2017","Y2018"]].sum() #2017

x = pm.iloc[7].argmax()#index 3

print ("Answer is index number {} on the years listed  which is 2017" .format (x))

# answer is 2017

Answer is index number 3 on the years listed  which is 2017

In [25]:
# Question_16: What is the total number of the sum of Production in 2014?

# data.groupby("Element")["Y2014"].sum() #1931287.75

p = df_file.groupby("Element")[["Y2014","Y2015","Y2016","Y2017","Y2018"]].sum()

x = p.iloc[11]

a = x.iloc[0]

print ("Total sum of production = {}".format (a))

Total sum of production = 1931287.75

In [30]:
# Question_17: Which of this elements had the highest sum in 2018?

j = df_file.groupby("Element")["Y2018"].sum() #Domestic supply quantity
print (j)
# j.argmax()
a =   (j[0])
print ("Highest sum in 2018 = {} which is Domestic supply quantity" .format (a))

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64
Highest sum in 2018 = 2161192.1 which is Domestic supply quantity

In [35]:
# Question_18: Which of this elements had the 3rd lowest sum in 2018?

som = df_file.groupby("Element")["Y2018"].sum() # Protein supply quantity (g/capita/day)   11833.56
a=som[12]
print ("The third lowest sum in 2018 = {} is Protein supply quantity (g/capita/day)" .format (a))

The third lowest sum in 2018 = 11833.56 is Protein supply quantity (g/capita/day)

In [40]:
# Question_19: What is the total Import Quantity in Algeria in 2018?

b = df_file.groupby(["Area","Element"])["Y2018"].sum()

b[7:8] #36238.29

Area     Element
Algeria  Import Quantity    36238.29
Name: Y2018, dtype: float64

In [43]:
# Question_20: What is the total number of unique countries in the dataset?

a = df_file["Area"].nunique() #49
print ("The total number of unique countries in the dataset is = {})" .format (a))

The total number of unique countries in the dataset is = 49)